body {
  padding: 50px auto;
  margin: 100px auto;
  max-width: 800px;
}
.whole {
  text-align: center;
  margin-left: 0;
  box-sizing: initial;
  border: 2px solid #ecedef;
  border-radius: 10px;
}
div.search {
  display: block;
  margin: 80px auto 20px auto;
}
div .predict {
  margin: 5px auto;
}
div.info {
  color: rgb(142, 142, 142);
}
.main {
  display: block;
  margin: 40px auto;
  margin-bottom: 80px;
}
.cities {
  margin: 30px auto;
  padding: 10px auto;
  max-width: 85%;
}
h1 {
  margin: 0 auto;
  padding: 0 auto;
}
.days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.predict {
  max-width: 85%;
  justify-content: center;
}
.result {
  margin: 0 auto;
  max-width: 70%;
}
.form-inline {
  margin: 0 auto;
}
.btn-primary {
  background-color: #48484a;
  border-color: #48484a;
}
.btn {
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: #ec6e4c;
}

.form-inline .form-control {
  width: 450px;
}

#temperature {
  font-size: 40px;
  font-weight: 400;
}
#weather-units {
  position: relative;
  top: -17px;
}
form {
  justify-content: center;
}
#description:first-letter {
  text-transform: capitalize;
}

.weather-forcast-temperature-min {
  font-size: 14px;
  opacity: 0.5;
}

.weather-forcast-temperature-max {
  font-size: 14px;
}
.forcast-icon {
  display: flex;
}

.weather-forcast-temperature {
  text-justify: auto;
}
.forcast-icon {
  width: 60px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}
